.players_2 {
	#hull {
		#turnCard {}

		#cardsBoard {
			flex: 0 0 80%;
		}

		.card_zone {
			left: 50%;
			position: absolute;
			top: 25%;
			transform: translateX(-50%);
		}

		.card_zone:nth-child(1) {
			top: -25%;
			transform: translateX(-50%) rotate(180deg);
		}

		.card_zone:nth-child(2) {}

		.card {
			border-width: 0.6vmax;
			height: $cardSize;
			width: $cardSize;

			.letter {
				font-size: 6vmax;
			}
		}
	}

	&:not(.single_card_mode) {
		#hull {
			#the_one {
				opacity: 0;
			}

			#turnCard {}

			#cardsBoard {}

			.card_zone {}

			.card_zone:nth-child(1) {}

			.card_zone:nth-child(2) {}

			.card {
				.letter {}
			}
		}
	}

	&.single_card_mode {
		#hull {
			#the_one {
				opacity: 1;

				.card {
					opacity: 1;
				}
			}

			#turnCard {}

			#cardsBoard {}

			.card_zone {}

			.card_zone:nth-child(1) {}

			.card_zone:nth-child(2) {}

			.card {
				opacity: 0;
			}
		}

	}
}