$blue:#2057A3;
$lightBlue:#90B4DD;
$green:#5AA320;
$lightGreen:#BBDF7E;
$orange:#F26B15;
$lightOrange:#F3B16D;

@keyframes clickNewTurn {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(80%);
	}

	100% {
		transform: scale(100%);
	}
}

@mixin flexCenter {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

@mixin width($n) {
	flex: 0 0 $n;
	max-width: $n;
	width: $n;
}

html {
	font-size: calc(5px + 0.3vw);

	* {
		box-sizing: border-box;
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
}

#app {
	align-items: stretch;
	background: linear-gradient(to bottom right, #AAD 0%, #225 100%);
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100vw;

	button#new_turn {
		align-items: center;
		background-color: transparent;
		background-image: url("../img/cover.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 0 none;
		cursor: pointer;
		display: flex;
		height: 60%;
		justify-content: center;
		max-height: 40vw;
		transition: filter 0.6s;
		width: 100%;

		&:hover {
			filter: drop-shadow(0 0 20px #FFF);
		}

		&:active {
			animation: clickNewTurn 0.6s ease-out 0s forwards;
		}
	}
}

#hull {
	height: 100%;
	padding: 2vw;

	#turnCard {
		display: flex;
	}

	#cardsBoard {
		align-items: stretch;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		max-width: 80%;
		padding-left: 4vw;
		padding-right: 4vw;
	}

	.card_zone {
		@include flexCenter;
		flex-flow: column nowrap;
		height: 100%;
		max-height: 100%;
	}
}

#app {
	&.players_2 {
		#hull {
			display: flex;
			flex-flow: row nowrap;
			width: 80%;

			#turnCard {
				@include flexCenter;
				flex: 0 0 20%;
				padding-left: 2vw;
				padding-right: 2vw;
			}

			#cardsBoard {
				flex: 0 0 80%;
			}

			.card_zone {}

			.card_zone:nth-child(1) {
				transform: rotate(180deg);
			}

			.card_zone:nth-child(2) {}
		}
	}
}

@media screen and (hover:none) {
	*:hover {
		filter: none !important;
		-webkit-tap-highlight-color: transparent !important;
	}
}

@media screen and (orientation: portrait) {
	body {}

	#app {
		height: 100vw;
		transform: rotate(90deg);
		width: 100vh;
	}
}