@keyframes flashIcon {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1);
	}

	10% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.6);
	}
}

@keyframes pressBtn {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.6);
	}

	100% {
		transform: scale(1);
	}
}

.player_board {
	@include flexCenter;
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	height: 50vmin;
	justify-content: flex-end;
	left: 50%;
	padding: 40px 0 20px;
	position: absolute;
	top: 50%;
	transform-origin: center top;
	width: 250px;

	.card_zone {
		align-items: center;
		display: flex;
		flex: 1 1 200px;
		height: auto;
		justify-content: center;
		max-height: 100%;
		max-width: 100%;
		min-height: 20vmax;
		position: relative;
		transition: opacity 1s;
		width: 100%;
	}

	button {
		@include flexCenter;
		background: transparent none;
		border: 3px solid rgba(#000, 0.8);
		border: 0 none;
		cursor: pointer;
		flex: 0 0 30%;
		height: 80%;

		img {
			height: 5rem;
			transition: filter 0.6s;
			width: 5rem;
		}

		&:active {
			animation: pressBtn 0.6s linear;
		}
	}

	.scoreBoard {
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		flex-flow: row nowrap;
		justify-content: center;

		.score {
			@include flexCenter;
			flex: 1 1 40%;
			font-family: "Arial Black", Helvetica, sans-serif;
			font-size: 8rem;
			font-weight: bold;
			min-width: 100px;
			opacity: 1;
			transition: opacity 1s;

			&.hidden {
				opacity: 0;
			}
		}
	}

	.options2 {
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		height: 30px;
		justify-content: space-between;
		max-width: 100%;
		width: 100%;

		.handicap {
			@include flexCenter;
			font-family: "Arial Black", Helvetica, sans-serif;
			font-size: 4rem;
			font-weight: bold;
			opacity: 1;
			transition: opacity 1s;
		}

		button {
			height: 60px;

			.btn_arrow {
				border-color: transparent;
				border-style: solid;

				&.left {
					border-right-color: #000;
					border-width: 10px 20px 10px 0;
				}

				&.right {
					border-left-color: #000;
					border-width: 10px 0 10px 20px;
				}
			}
		}
	}

	.confirm {
		height: 100%;
		left: 50%;
		max-height: 100%;
		max-width: 100%;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		user-select: none;
		width: 100%;

		&.hidden {
			display: none;
		}

		img {
			left: 50%;
			max-height: 100%;
			max-width: 100%;
			opacity: 1;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
		}

		&.plus {
			animation: flashIcon 1s ease-out 0s forwards;

			.minus {
				opacity: 0;
			}
		}

		&.minus {
			animation: flashIcon 1s ease-out 0s forwards;

			.plus {
				opacity: 0;
			}
		}
	}

	button.rotate {
		cursor: e-resize;
		flex: 1 1 auto;
		height: auto;
		padding: 10px 20px;
		width: auto;

		img {
			height: 100%;
			max-height: 16px;
			width: 100%;
			object-fit: contain;
		}
	}
}

#app {
	&.players_2 #hull #cardsBoard {
		.player_board {
			.score {}
		}
	}
}

#app.single_card_mode {
	#the_one {
		opacity: 1;
	}

	.player_board .card_zone {
		opacity: 0;
	}
}